<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai Food For You - Login</title>
    <link rel="stylesheet" href="style_login.css">
</head>

<body>
    <div class="container">
        <div class="bar">
            <div class="topbar">
                <div class="header">
                    <div class="logo-container">
                        <div class="logo"></div>
                    </div>
                    <div class="text_header">
                        <h1>THAI</h1>
                        <h2>FOOD FOR YOU</h2>
                    </div>
                </div>
                <div class="container_login">
                    <div class="login-box">
                        <h2>Log in</h2>
                        <form id="loginForm">
                            <input type="text" name="username" placeholder="Username" required>
                            <input type="password" name="password" placeholder="Password" required>
                            <button type="submit">Log in</button>
                            <button type="button" onclick="window.location.href='/Restaurant_Database/register'">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar-content">
                    <h2>R<br>E<br>S<br>T<br>A<br>U<br>R<br>A<br>N<br>T</h2>
                </div>
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
        </div>
        <div class="underbar">
            <div class="underbar-content">
                <h2>D A T A B A S E</h2>
            </div>
            <div class="bar1"></div>
            <div class="bar2"></div>
        </div>
    </div>
    <script src="script_login.js"></script>
</body>

</html>