<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Database</title>
    <link rel="stylesheet" href="style_payment.css">
</head>

<body>
    <div class="topbar">
        <div class="header-logo">
            <div class="logo-container"></div>
            <div class="logo-topbar"></div>
        </div>
        <div class="text_header">
            <h1>RESTAURANT DATABASE</h1>
            <div class="container"></div>
        </div>
        <div class="admin-text">ADMIN</div>
        <div class="person-icon"></div>
    </div>

    <main>
        <div class="orders-container">
            <div class="home">
                <ul>
                    <li><a href="/Restaurant_Database/orderlist">หน้าหลัก</a></li>
                </ul>
            </div>
            <div class="payment">
                <ul>
                    <li><a href="/Restaurant_Database/payment">ชำระเงิน</a></li>
                </ul>
            </div>
        </div>
        <div class="orderlist">
            <div class="profile">
                <div class="profile-icon"></div>
                <div class="profile-text">UserA</div>
            </div>
            <div class="order">
                <div class="content">รายการอาหาร : -ข้าวผัดกะเพราหมูสับ</div>
            </div>
        </div>
        <button class = "btn-cancel">ยกเลิก</button>
    </main>
</body>

</html>