<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thai Food For You - Menu</title>
    <link rel="stylesheet" href="style_status.css">
</head>

<body>
    <div class="topbar">
        <div class="header-logo">
            <div class="logo-container"></div>
            <div class="logo-topbar"></div>
        </div>
        <div class="text_header">
            <h1>RESTAURANT DATABASE</h1>
            <div class="container"></div>
        </div>
        <div class="status">
            <span class="back-button" onclick="window.location.href='/Restaurant_Database/home'">X</span>
            <h1>Status</h1>
            <div class="status-container"></div>
        </div>
    </div>
    <main>
        <div class = "cooking-icon"></div>
        <div class = "status-text">
            <h2>Order is being prepared</h2>
            <p>Thank you for your order. Please wait a moment.</p>
        </div>
        <button class="back-home" onclick="window.location.href='/Restaurant_Database/home'">Back to Home</button>
    </main>
</body>

</html>